@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root {
  --pokemon-yellow: rgb(251, 215, 67);
  --pokemon-red: rgb(255, 31, 31);
  --pokemon-light-blue: rgb(93, 185, 255);
  --pokemon-dark-blue: rgb(54, 59, 129);
  --charcoal-dark: rgb(60, 60, 60);
  --gamer-font: "Press Start 2P", monospace;
  --battle-stipe-background: rgb(241, 239, 231);
}

main {
  height: 90vh;
}

#header {
  height: 10vh;
  background-color: var(--pokemon-red);
  padding: 1.2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid var(--charcoal-dark);

  img {
    height: 100%;
  }
  nav {
    width: 50%;
  }

  ul {
    display: flex;
    justify-content: space-around;
  }

  .nav-link {
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
  }
}

#welcome {
  height: 100vh;
  background-color: var(--pokemon-red);
  position: relative;
  // display: flex;
  // flex-wrap: wrap;

  .click-to-start {
    padding: 30vh;
    // height: 100vh;
  }

  .logo {
    display: none;
  }

  .start-game {
    -webkit-animation: slide-in-elliptic-right-fwd 2s
      cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-in-elliptic-right-fwd 2s
      cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  .exit {
    width: 100vw;
    position: absolute;
    z-index: 1;
    -webkit-animation: slide-out-elliptic-left-bck 0.7s ease-in 4.5s both;
    animation: slide-out-elliptic-left-bck 0.7s ease-in 4.5s both;
  }

  h2 {
    font-size: 4vw;
    text-align: center;
    animation: blinker 1s linear infinite;
    color: var(--pokemon-yellow);
    font-family: var(--gamer-font);
  }

  .prof-oak {
    position: absolute;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    padding: 5vw;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    -webkit-animation: scale-in-center 5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      3s both;
    animation: scale-in-center 5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 3s both;

    img {
      flex-shrink: 1;
      height: 80vh;
      width: 40vw;
    }

    .oak-speaks {
      height: 75vh;
      width: 30vw;
      color: var(--pokemon-yellow);
      font-family: var(--gamer-font);
      font-size: 3vw;
    }

    .pokedex-link {
      width: 20vw;
      color: whitesmoke;
      font-family: var(--gamer-font);

      img {
        height: 25%;
        width: 50%;
      }

      img:hover {
        -webkit-animation: shake-vertical 2s
          cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;
        animation: shake-vertical 2s cubic-bezier(0.455, 0.03, 0.515, 0.955)
          infinite both;
      }
    }
  }
}

#pokedex {
  display: flex;
  font-family: var(--gamer-font);
  background-color: var(--pokemon-light-blue);

  .pokedex-choices {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 75vw;
    flex: 2;
    border-right: 5px solid var(--charcoal-dark);
    background-color: var(--pokemon-yellow);
    padding: 0 1rem;

    h1 {
      width: 100%;
      text-align: center;
      margin: 2rem 2rem 1rem;
      font-size: 7vw;
      text-transform: uppercase;
    }
  }

  .pokedex-card {
    width: 18vw;
    height: 16vh;
    text-align: center;
    margin: 1rem;
    box-shadow: 3px 3px 5px black, -3px -3px 5px white;
    user-select: none;
    border-radius: 5px;

    h3 {
      margin-top: -1vh;
      font-size: 60%;
    }

    h3,
    img {
      pointer-events: none;
    }
  }

  .pokedex-card:active:hover {
    box-shadow: 3px 3px 5px white, -3px -3px 5px black;

    h3,
    img {
      transform: translate(1px, 1px);
    }
  }

  .chosen-pokemon {
    position: sticky;
    top: 30px;
    width: 25vw;
    height: 100vh;
    background-color: var(--pokemon-light-blue);
    flex: 1;
    // padding: 0 2rem;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;

    .chosen-pokemon-header {
      width: 25vw;

      margin: 0 auto;
      margin-top: 2vh;

      span {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        width: 25vw;

        img {
          width: 33%;
        }

        h2 {
          width: 50%;
          text-align: center;
          font-size: 3vw;
          // line-height: 3rem;
          text-transform: uppercase;
          padding-top: 0.4rem;
        }
      }
    }

    .click-to-choose {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 3vw;
      width: 70%;
    }

    .pokedex-card {
      width: 12vw;
      height: 15vh;

      h3 {
        font-size: 50%;
      }
    }

    button {
      width: 25vw;
      margin-top: 1vh;
      font-family: var(--gamer-font);
      flex: 1 1 100%;
      background-color: var(--pokemon-red);
      color: var(--pokemon-yellow);
      font-size: 3vw;
      text-transform: uppercase;
      animation: blinker 1.5s linear infinite;
    }
  }
}

@keyframes blinker {
  20% {
    opacity: 0.1;
  }
}

#battle {
  height: 100vh;
  background-image: repeating-linear-gradient(
    180deg,
    white,
    white 5px,
    var(--battle-stipe-background) 5px,
    var(--battle-stipe-background) 20px,
    white 20px,
    white 25px,
    var(--battle-stipe-background) 25px,
    var(--battle-stipe-background) 40px,
    white 40px,
    white 45px,
    var(--battle-stipe-background) 45px,
    var(--battle-stipe-background) 60px
  );
  opacity: 0.7;
  -webkit-animation: swirl-in-fwd 4s ease-out both;
  animation: swirl-in-fwd 4s ease-out both;

  .opponent-stats h3,
  .player-stats h3 {
    text-transform: capitalize;
  }

  .opponent {
    width: 100vw;
    height: 33vh;
    border: 1px black solid;
    display: flex;

    .opponent-stats {
      margin: 5vh 0 0 1vw;
      height: 11vh;
      border: 3px solid black;
      width: 49vw;
      display: flex;
      flex-wrap: wrap;
      background-color: white;

      p {
        width: 100%;
        text-align: right;
        font-family: var(--gamer-font);
      }

      h3 {
        margin-left: 1vw;
        width: 100%;
        font-family: var(--gamer-font);
      }

      progress {
        width: 100%;
        margin: -1.5vh 1vw 0 10vw;
      }
    }

    .opponent-sprite {
      height: 33vh;
      width: 50vw;
      display: flex;

      img {
        margin-left: 15vw;
        width: 75%;
      }
    }
  }

  .player {
    height: 67vh;
    // background-color: blue;
    display: flex;
    flex-wrap: wrap;
    // flex-direction: column;

    .player-stats {
      margin-top: 5vh;
      margin-right: 1vw;
      height: 11vh;
      border: 3px solid black;
      background-color: white;
      width: 49vw;

      h3 {
        margin-left: 1vw;
        font-family: var(--gamer-font);
      }

      p {
        text-align-last: right;
        font-family: var(--gamer-font);
      }

      progress {
        width: 90%;
        margin: -2vh 0 0 4vw;
      }
    }

    .player-sprite {
      height: 25vh;
      width: 50vw;
      display: flex;

      img {
        margin-top: 10vh;
        margin-left: 10vw;
        width: 75%;
      }
    }

    .player-options {
      height: 27vh;
      width: 100vw;
      padding: 2vh;
      display: flex;
      cursor: default;
      user-select: none;

      .options-announce {
        border: 3px solid black;
        height: 23vh;
        width: 66vw;
        background-color: var(--battle-stipe-background);
        font-family: var(--gamer-font);
        padding: 2vw;
        margin: 0;
        font-size: 1.2rem;

        ul {
          text-transform: uppercase;
          height: 100%;
          width: 100%;
          display: grid;
          grid-template-columns: 1fr 1fr;
        }

        li:hover {
          text-decoration: underline;
        }
      }

      .options-choices {
        border: 3px solid black;
        margin-left: 1vw;
        width: 30vw;
        display: flex;
        font-family: var(--gamer-font);
        position: relative;

        h3 {
          padding: 3rem;
        }

        ul {
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          padding: 3vw 0 0 2vw;

          :hover {
            text-decoration: underline;
            list-style-position: inside;
            list-style-image: url(../assets/pokeball.svg);
          }

          p {
            text-transform: uppercase;
          }

          li a {
            color: #4a4a4a;
            cursor: default;
          }

          li,
          p {
            flex: 1 0 50%;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

#prefight {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .battle-lineup {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .battle-lineup-heading {
    height: 15vh;
  }

  .battle-lineup-banner {
    height: 20%;
    background-color: var(--pokemon-light-blue);
    position: relative;
    width: 100vw;

    h2 {
      font-size: 4vw;
      font-family: var(--gamer-font);
      background-color: rgb(243, 242, 242);
      display: inline-block;
      border: 3px black solid;
      padding: 2rem;
      text-transform: uppercase;
      position: absolute;
    }
  }

  .top-banner h2 {
    right: 2%;
    top: 45%;
  }

  .bottom-banner {
    height: 25vh;

    h2 {
      left: 2%;
      bottom: 45%;
    }

    button {
      padding: 2rem 3rem;
      font-family: var(--gamer-font);
      font-size: 2vw;
      background-color: var(--pokemon-red);
      position: absolute;
      right: 2%;
      bottom: 15%;
      text-transform: uppercase;
      color: var(--pokemon-yellow);
    }
  }

  .battle-lineup {
    background-image: linear-gradient(rgb(255, 234, 118), rgb(42, 165, 63));
    height: 30%;
    border-top: 3px black solid;
    border-bottom: 3px black solid;
  }

  // .computer-lineup {
  // }

  .player-lineup {
    padding-bottom: 1rem;
  }

  .battle-lineup-card {
    text-align: center;

    img {
      height: 150px;
    }

    h3 {
      font-family: var(--gamer-font);
      font-size: 1.5vw;
      margin: 0 0.2vw;
      text-transform: uppercase;
    }
  }
}

// Helpers

.pointer-events-none {
  pointer-events: none;
}

.uppercase {
  text-transform: uppercase;
}

.sway {
  color: blue;
  animation: begindrag 16s infinite;
  transform-origin: 50% 100% 0;
}

@keyframes begindrag {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(6deg);
  }
  55% {
    transform: rotate(-3deg);
  }
  80% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}

@-webkit-keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0.25);
    transform: rotate(-540deg) scale(0.25);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(0.25);
    transform: rotate(0) scale(0.25);
    opacity: 1;
  }
}
@keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0.25);
    transform: rotate(-540deg) scale(0.25);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(0.25);
    transform: rotate(0) scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-elliptic-right-fwd {
  0% {
    -webkit-transform: translateX(800px) rotateY(-30deg) scale(0);
    transform: translateX(800px) rotateY(-30deg) scale(0);
    -webkit-transform-origin: -100% 50%;
    transform-origin: -100% 50%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
    transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: -1800px 50%;
    transform-origin: -1800px 50%;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-right-fwd {
  0% {
    -webkit-transform: translateX(800px) rotateY(-30deg) scale(0);
    transform: translateX(800px) rotateY(-30deg) scale(0);
    -webkit-transform-origin: -100% 50%;
    transform-origin: -100% 50%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
    transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: -1800px 50%;
    transform-origin: -1800px 50%;
    opacity: 1;
  }
}

@-webkit-keyframes slide-out-elliptic-left-bck {
  0% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
    transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: 2000px 50%;
    transform-origin: 2000px 50%;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px) rotateY(30deg) scale(0);
    transform: translateX(-1000px) rotateY(30deg) scale(0);
    -webkit-transform-origin: -100% 50%;
    transform-origin: -100% 50%;
    opacity: 1;
  }
}
@keyframes slide-out-elliptic-left-bck {
  0% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
    transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: 2000px 50%;
    transform-origin: 2000px 50%;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px) rotateY(30deg) scale(0);
    transform: translateX(-1000px) rotateY(30deg) scale(0);
    -webkit-transform-origin: -100% 50%;
    transform-origin: -100% 50%;
    opacity: 1;
  }
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
    transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
    transform: translateY(-6.4px);
  }
}
@keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
    transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
    transform: translateY(-6.4px);
  }
}

@media only screen and (min-height: 1000px) {
  #pokedex .pokedex-card {
    height: 5vh !important;
  }
}
