@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root {
  --pokemon-yellow: rgb(251, 215, 67);
  --pokemon-red: rgb(255, 31, 31);
  --pokemon-light-blue: rgb(93, 185, 255);
  --pokemon-dark-blue: rgb(54, 59, 129);
  --charcoal-dark: rgb(60, 60, 60);
  --gamer-font: "Press Start 2P", monospace;
  --battle-stipe-background: rgb(241, 239, 231);
}

#header {
  height: clamp(70px, 10vh, 100px);
  background-color: var(--pokemon-red);
  padding: 1.2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid var(--charcoal-dark);

  img {
    height: 100%;
  }
  nav {
    width: 50%;
  }

  ul {
    display: flex;
    justify-content: space-around;
  }

  .nav-link {
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
  }
}

#pokedex {
  display: flex;
  font-family: var(--gamer-font);
  background-color: var(--pokemon-light-blue);

  .pokedex-choices {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 75vw;
    flex: 2;
    border-right: 5px solid var(--charcoal-dark);
    background-color: var(--pokemon-yellow);
    padding: 0 1rem;

    h1 {
      width: 100%;
      text-align: center;
      margin: 2rem 2rem 1rem;
      font-size: 7vw;
      text-transform: uppercase;
    }
  }

  .pokedex-card {
    width: 18vw;
    height: 16vh;
    text-align: center;
    margin: 1rem;
    box-shadow: 3px 3px 5px black, -3px -3px 5px white;
    user-select: none;
    border-radius: 5px;


    h3 {
      margin-top: -1vh;
       font-size: 60%;
    }

    h3,
    img {
      pointer-events: none;
    }



  }

  

  .pokedex-card:active:hover {
    box-shadow: 3px 3px 5px white, -3px -3px 5px black;

    h3,
    img {
      transform: translate(1px, 1px);
    }
  }

  .chosen-pokemon {
    position: sticky;
    top: 30px;
    width: 25vw;
    height: 100vh;
    background-color: var(--pokemon-light-blue);
    flex: 1;
    // padding: 0 2rem;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;

    .chosen-pokemon-header {
      width: 25vw;
      
      margin: 0 auto;
      margin-top: 2vh;

      span{
        display: flex;
        flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: center;
        width: 25vw;
      

      img {
        width: 33%;
      
      }

      h2 {
        width: 50%;
        text-align: center;
        font-size: 3vw;
        // line-height: 3rem;
        text-transform: uppercase;
        padding-top: 0.4rem;
      }
    }
    }

    .click-to-choose {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 3vw;
      width: 70%;
    }

    .pokedex-card{
      width: 12vw;
      height: 15vh;

      h3 {
        font-size: 50%;
        
      }


    }



    button {
      width: 25vw;
      margin-top: 1vh;
      font-family: var(--gamer-font);
      flex: 1 1 100%;
      background-color: var(--pokemon-red);
      color: var(--pokemon-yellow);
      font-size: 3vw;
      text-transform: uppercase;
      animation: blinker 1.5s linear infinite;
    }

   
}
  }


  @keyframes blinker {
    20% {
      opacity: 0.1;
    }
  }
  




#battle {
  height: 100vh;
  background-image: repeating-linear-gradient(
    0deg,
    white,
    white 5px,
    var(--battle-stipe-background) 5px,
    var(--battle-stipe-background) 20px,
    white 20px,
    white 25px,
    var(--battle-stipe-background) 25px,
    var(--battle-stipe-background) 40px,
    white 40px,
    white 45px,
    var(--battle-stipe-background) 45px,
    var(--battle-stipe-background) 60px
  );
  opacity: 0.7;
	-webkit-animation: swirl-in-fwd 2s ease-out both;
	        animation: swirl-in-fwd 2s ease-out both;

.opponent{
  width: 100vw;
  height: 33vh;
  border: 1px black solid;
  display: flex;


  .opponent-stats{
    margin: 5vh 0 0 1vw;
    height: 11vh;
    border: 3px solid black;
    width: 49vw;
    display: flex;
    flex-wrap: wrap;
    background-color: white;


    p{
      width: 100%;
      text-align: right;
      font-family: var(--gamer-font);
    }

h3{
  margin-left: 1vw;
  width: 100%;
  font-family: var(--gamer-font);
}

progress{
  width: 100%;
  margin: -1.5vh 1vw 0 10vw;
}


  }



  .opponent-sprite{
    height: 33vh;
    width: 50vw;
    display: flex;
   

    img{
      margin-left: 15vw; 
      width: 75%;
    }
  }
}

.player{
  height: 67vh;
  // background-color: blue;
  display: flex;
  flex-wrap: wrap;
  // flex-direction: column;

.player-stats{
  margin-top: 5vh;
  margin-right: 1vw;
  height: 11vh;
  border: 3px solid black;
  background-color: white;
  width: 49vw;


  h3{
    margin-left: 1vw;
    font-family: var(--gamer-font);
  }

  p{
    text-align-last: right;
    font-family: var(--gamer-font);
  }

  progress{
    width: 90%;
    margin: -2vh 0 0 4vw;
    
  }

}

.player-sprite{
  height: 40vh;
  width: 50vw;
  display: flex;

  img {
    margin-top: 10vh;
    margin-left: 10vw;
    width: 75%;
  }
}

.player-options{

  
  height: 27vh;
  width: 100vw;
  padding: 2vh;
  display: flex;


.options-announce{
  border:3px solid black;
  height: 23vh;
  width: 66vw;
  background-color: var(--battle-stipe-background);
  font-family: var(--gamer-font);
  padding: 2vw;
  margin: 0;

}

.options-choices{
  
  border:3px solid black;
  margin-left: 1vw;
  width: 30vw;
  display: flex;
  font-family: var(--gamer-font);
  
li{
  padding-left: 1vw;
  height: 33%;
  text-align: left;
  background-color: var(--battle-stipe-background);

 
  }

  ul{
    direction: rtl;
    height: 100%;
    width: 100%;
    :hover {
      text-decoration: underline;
      list-style-position: inside;
      list-style-image: url(../assets/pokeball.svg);
  }
}
}

}

}




}

// Helpers

.pointer-events-none {
  pointer-events: none;
}


.sway {
  color: blue;
  animation: begindrag 16s infinite;
  transform-origin: 50% 100% 0;
}


@keyframes begindrag {
  0% {
    transform: rotate(0deg)
  }
  10% {
    transform: rotate(-8deg)
  }
  30% {
    transform: rotate(6deg)
  }
  55% {
    transform: rotate(-3deg)
  }
  80% {
    transform: rotate(1deg)
  }
  100% {
    transform: rotate(-1deg)
  }
}





@-webkit-keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(.25);
            transform: rotate(-540deg) scale(.25);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(.25);
            transform: rotate(0) scale(.25);
    opacity: 1;
  }
}
@keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(.25);
            transform: rotate(-540deg) scale(.25);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(.25);
            transform: rotate(0) scale(1);
    opacity: 1;
  }
}




@media only screen and (min-height: 1000px) {

#pokedex .pokedex-card{
  height: 5vh !important;
}


}